#decendidos{
    color: rgb(255, 255, 255);
}

#acendidos{
    color: rgb(255, 255, 255); 
}
body{
    background-color: rgb(68, 172, 8);
    border: 5px dotted beige;
    padding: 20px;
} 



